
.container{
  background-color: rgb(237, 236, 231);
}


.container-fluid{
  background-image: linear-gradient(rgb(28, 24, 29),rgb(22, 22, 73),rgb(83, 4, 62)
  ),
  url('../images/images/backdrop1.png');
  background-size: cover;
  background-position: center;
  
}
.my-5{
  border-radius: 3%;
  background-color: aliceblue;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.position-relative{
  background-color: rgb(131, 221, 221);
}
.p-md-5 {
  background-color: blue;
}
.container.my-5{
  display: grid;
}



#commentInput{
    background-color: rgb(191, 210, 227);
}
#commentList{
    width: 300px;
    padding-top: 1rem;
}
   /* footer icons */
   footer .social_icon,
   footer .menu {
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 10px 0;
   }
   
   footer .social_icon li,
   footer .menu li {
     list-style: none;
   }
   footer .social_icon li a {
     font-size: 2em;
     color: rgb(184, 154, 154);
     margin: 0 10px;
     display: inline-block;
     transition: 0.5s;
   }
   /* animation */
   footer .social_icon li a:hover {
     transform: translateY(-15px);
     color: rgb(248, 154, 170);
   }
   
   footer .menu li a {
     font-size: 1.2em;
     color: #3e3939;
     margin: 0 10px;
    
  display: inline-block;
     transition: 0.5s;
     text-decoration: none;
     opacity: 0.75;
   }
   footer .menu li a:hover {
     opacity: 1;
     color: #fff;
   }