.container{
    background-color: rgb(237, 236, 231);
}


.container-fluid{
    background-image: linear-gradient(rgb(28, 24, 29),rgb(22, 22, 73),rgb(83, 4, 62)
    ),
    url('../images/images/backdrop1.png');
    background-size: cover;
    background-position: center;
    
}
.my-5{
    border-radius: 3%;
     
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.position-relative{
    background-color: rgb(236, 243, 243);
}
.p-md-5 {
    background-color: blue;
}
.container.my-5{
    display: grid;
}
#commentForm{
    display: inline-block;
    background-position: center;
}
.contact{
    display: flexbox;

}
.inst{
    
    margin-left: 80%;
}