body {
    position: relative;
    margin: 0;
    font-family: Arial, sans-serif;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('images/img/baclground.jpg') center/cover no-repeat fixed;
    opacity: 0.3; /* Adjust opacity to make the image faint */
    z-index: -1; /* Ensure it stays in the background */
}
.title2{
    margin-bottom: 10%;
    border-radius: 1rem;
    color: rgb(0, 0, 0);
}
.box{
    margin-left: 8%;
    margin-right: 8%;

}
   /* footer icons */
   footer .social_icon,
   footer .menu {
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 10px 0;
   }
   
   footer .social_icon li,
   footer .menu li {
     list-style: none;
   }
   footer .social_icon li a {
     font-size: 2em;
     color: white;
     margin: 0 10px;
     display: inline-block;
     transition: 0.5s;
   }
   /* animation */
   footer .social_icon li a:hover {
     transform: translateY(-15px);
     color: rgb(112, 204, 247);
   }
   
   footer .menu li a {
     font-size: 1.2em;
     color: #111010;
     margin: 0 10px;
    
  display: inline-block;
     transition: 0.5s;
     text-decoration: none;
     opacity: 0.75;
   }
   footer .menu li a:hover {
     opacity: 1;
     color: #fff;
   }


/* Additional customization for smaller screens */
@media (max-width: 768px) {
    body {
        background-size: auto 100%; /* Ensures the image fits within smaller screen sizes */
    }
}
